<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}
<body>
	<!-- Preloader start -->
	<div class="theme-loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- Preloader end -->
	<!-- Header Area Start -->
	{% include "header.html" %}
	<!-- Header Area End -->	
    <!-- Page Banner Start -->
    <div class="page__banner" data-background="/static/img/bg/page.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__banner-title">
                        <h1>Blog Grid</h1>
                        <div class="page__banner-title-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><span>_</span>Blog Grid</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner End -->	
	<!-- Blog Area Start -->	
	<div class="blog__area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 mb-30">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-1.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Haircutting</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>30 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">We are a Haircut Salon Based in South Melbourne</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-2.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Hair Color</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>25 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">Hair coloring kit and hair Dye color</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-3.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Lather Shave</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>21 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">The Best Lather Shave Product in Market</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4 mb-30">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-7.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Hair Wash</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>20 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">Best Hair Washing Machine for Home</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-12.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Oil Massage</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>19 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">Organic Massage Oil for Sensitive Skin</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-8.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Facial Hair</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>17 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">Customising your shave is Fun and easy</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-9.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Facial Mask</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>15 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">The most affordable World Facial Mask</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-10.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Hair shining</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>14 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">Best Hair Shiner, Hair Shine, & Hair Conditioner</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="blog__area-item">
						<div class="blog__area-item-image">
							<a href="blog-details.html"><img src="/static/img/blog/blog-11.webp" alt=""></a>
						</div>
						<div class="blog__area-item-content">
							<div class="blog__area-item-content-meta">
								<ul>
									<li><a href="#"><span>Hair care</span></a></li>
									<li><a href="#"><i class="fal fa-calendar-alt"></i>12 June, 2022</a></li>
								</ul>
							</div>
							<h4><a href="blog-details.html">Best Hair Care Solution for Dry Skin & Scalp</a></h4>
							<a href="blog-details.html" class="simple-btn">Read More<i class="far fa-angle-double-right"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<div class="theme__pagination t-center mt-50">
						<ul>
							<li><a class="active" href="#">01</a>
							</li>
							<li><a href="#">02</a>
							</li>
							<li><a href="#"><i class="far fa-ellipsis-h"></i></a>
							</li>
							<li><a href="#">05</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog Area End -->	
	
		{% include "footer.html" %}
		   
	<!-- Scroll Btn Start -->
	<div class="scroll-up">
		<svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" /> </svg>
	</div>
	<!-- Scroll Btn End -->
	<!-- Main JS -->
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Counter up -->
	<script src="/static/js/jquery.counterup.min.js"></script>
	<!-- Popper JS -->
	<script src="/static/js/popper.min.js"></script>
	<!-- Magnific JS -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<!-- Swiper JS -->
	<script src="/static/js/swiper-bundle.min.js"></script>
	<!-- Waypoints JS -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Mean menu -->
	<script src="/static/js/jquery.meanmenu.min.js"></script>
	<!-- Custom JS -->
	<script src="/static/js/custom.js"></script>
</body>

</html>