<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
	<!-- Preloader start -->
	<div class="theme-loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- Preloader end -->
	<!-- Header Area Start -->
	{% include "header.html" %}
	<!-- Header Area End -->	
    <!-- Page Banner Start -->
    <div class="page__banner" data-background="/static/img/female.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__banner-title">
                        <h1>Services</h1>
                        {% comment %} <div class="page__banner-title-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><span>_</span>Services</li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner End -->
    <!-- Services Area Start -->	
	<div class="services__area section-padding">
		<div class="services__area-shape">
			<img src="/static/img/shape/services.png" alt="">
		</div>
		<div class="container">
			<div class="row mb-50">
				<div class="col-xl-12">
					<div class="services__area-title">
						<span class="subtitle__two">Services</span>
						<span class="subtitle__one">Our Services</span>
						<h2>Popular Hair Cutting And salon</h2>
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 mb-35">
					<div class="services__area-button">
						<ul class="nav nav-pills">
							<li class="nav-item">
								<button class="nav-item-button" data-bs-toggle="pill" data-bs-target="#haircut">
									    <img class="nav-item-button-icon" src="/static/img/icon/services-1.png" alt="">
										<img class="nav-item-button-icon2" src="/static/img/icon/services-7.png" alt="">
									Trend Haircut
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button data-bs-toggle="pill" data-bs-target="#washing">
									<img class="nav-item-button-icon" src="/static/img/icon/services-2.png" alt="">
									<img class="nav-item-button-icon2" src="/static/img/icon/services-8.png" alt="">
									Hair Washing
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button data-bs-toggle="pill" data-bs-target="#color">
									<img class="nav-item-button-icon" src="/static/img/icon/services-3.png" alt="">
									<img class="nav-item-button-icon2" src="/static/img/icon/services-9.png" alt="">
									Hair Color
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="active" data-bs-toggle="pill" data-bs-target="#facial">
									<img class="nav-item-button-icon" src="/static/img/icon/services-4.png" alt="">
									<img class="nav-item-button-icon2" src="/static/img/icon/services-10.png" alt="">
									Facial hair trim
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button data-bs-toggle="pill" data-bs-target="#massage">
									<img class="nav-item-button-icon" src="/static/img/icon/services-6.png" alt="">
									<img class="nav-item-button-icon2" src="/static/img/icon/services-12.png" alt="">
									Head Massage
								</button>
							</li>
                            {% comment %} <li class="nav-item" role="presentation">
								<button data-bs-toggle="pill" data-bs-target="#massage">
									<img class="nav-item-button-icon" src="/static/img/icon/services-13.png" alt="">
									<img class="nav-item-button-icon2" src="/static/img/icon/services-13.png" alt="">
									Oil Massage
								</button>
							</li>
                            <li class="nav-item" role="presentation">
								<button data-bs-toggle="pill" data-bs-target="#massage">
									<img class="nav-item-button-icon" src="/static/img/icon/services-14.png" alt="">
									<img class="nav-item-button-icon2" src="/static/img/icon/services-14.png" alt="">
									Head Massage
								</button>
							</li> {% endcomment %}
						</ul>	
					</div>
				</div>
				<div class="col-xl-12">					
					<div class="tab-content">
						<div class="tab-pane fade" id="haircut">
							<div class="row align-items-center">
								<div class="col-xl-6 col-lg-6 lg-mb-30">
									<div class="services__area-image">
										<img class="img__full" src="/static/img/features/services-1.webp" alt="">
									</div>									
								</div>
								<div class="col-xl-6 col-lg-6">
									<div class="services__area-right ml-40 lg-ml-0">
										<div class="services__area-right-title">
											<h3>Best Trendy Haircut At Home Treatment</h3>
											<div class="services__area-right-title-list">
                            					<span><i class="far fa-check"></i>Layered Cut</span>
                            					<span><i class="far fa-check"></i>Bob Cut</span>
												<span><i class="far fa-check"></i>Pixie Cut</span>
                            					<span><i class="far fa-check"></i>Curtain Bangs</span>
												<span><i class="far fa-check"></i>U-Cut / V-Cut</span>
                            					<span><i class="far fa-check"></i>Step Cut</span>
											</div>
											<a href="{% url 'appointment' %}" class="theme-btn mt-50">Booking Appointment<i class="far fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="washing">
							<div class="row align-items-center">
								<div class="col-xl-6 col-lg-6 lg-mb-30">
									<div class="services__area-image">
										<img class="img__full" src="/static/img/features/services-2.webp" alt="">
									</div>									
								</div>
								<div class="col-xl-6 col-lg-6">
									<div class="services__area-right ml-40 lg-ml-0">
										<div class="services__area-right-title">
											<h3>Hairwashing At Home Treatment</h3>
											<div class="services__area-right-title-list">
                            					<span><i class="far fa-check">Deep Conditioning Wash</i></span>
                            					<span><i class="far fa-check"></i>Anti-Dandruff Wash</span>
												<span><i class="far fa-check"></i>Keratin Shampoo Wash</span>
												<span><i class="far fa-check"></i>Hydrating Scalp Wash</span>
												<span><i class="far fa-check"></i>Herbal Hair Wash</span>
												<span><i class="far fa-check"></i>Clarifying Wash</span>
											</div>
											<a href="{% url 'appointment' %}" class="theme-btn mt-50">Booking Appointment<i class="far fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="color">
							<div class="row align-items-center">
								<div class="col-xl-6 col-lg-6 lg-mb-30">
									<div class="services__area-image">
										<img class="img__full" src="/static/img/features/services-3.webp" alt="">
									</div>									
								</div>
								<div class="col-xl-6 col-lg-6">
									<div class="services__area-right ml-40 lg-ml-0">
										<div class="services__area-right-title">
											<h3>Best Hair Color At Home Treatment</h3>
											<div class="services__area-right-title-list">
                            					<span><i class="far fa-check"></i>Global Hair Color</span>
                            					<span><i class="far fa-check"></i>Root Touch-Up</span>
												<span><i class="far fa-check"></i>Balayage Highlights</span>
												<span><i class="far fa-check"></i>Ombre Hair Color</span>
												<span><i class="far fa-check"></i>Grey Coverage</span>
												
											</div>
											<a href="{% url 'appointment' %}" class="theme-btn mt-50">Booking Appointment<i class="far fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade show active" id="facial">
							<div class="row align-items-center">
								<div class="col-xl-6 col-lg-6 lg-mb-30">
									<div class="services__area-image">
										<img class="img__full" src="/static/img/features/services-4.webp" alt="">
									</div>									
								</div>
								<div class="col-xl-6 col-lg-6">
									<div class="services__area-right ml-40 lg-ml-0">
										<div class="services__area-right-title">
											<h3>Best Facial Hair Trim At Home Treatment</h3>
											<div class="services__area-right-title-list">
                            					<span><i class="far fa-check"></i>Eyebrow Trimming</span>
                            					<span><i class="far fa-check"></i>Upper Lip Trimming</span>
												<span><i class="far fa-check"></i>Sideburns Shaping</span>
												<span><i class="far fa-check"></i>Full Face Trimming</span>
												

											</div>
											<a href="{% url 'appointment' %}" class="theme-btn mt-50">Booking Appointment<i class="far fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="massage">
							<div class="row align-items-center">
								<div class="col-xl-6 col-lg-6 lg-mb-30">
									<div class="services__area-image">
										<img class="img__full" src="/static/img/features/services-6.webp" alt="">
									</div>									
								</div>
								<div class="col-xl-6 col-lg-6">
									<div class="services__area-right ml-40 lg-ml-0">
										<div class="services__area-right-title">
											<h3>Best Facial Head Massage At Home Treatment</h3>
											<div class="services__area-right-title-list">
                            					<span><i class="far fa-check"></i>Oil-Based Head Massage</span>
                            					<span><i class="far fa-check"></i>Herbal Hot Oil Massage</span>
												<span><i class="far fa-check"></i>Acupressure Head Massage</span>
												<span><i class="far fa-check"></i>Stress-Relief Massage</span>
											</div>
											<a href="{% url 'appointment' %}" class="theme-btn mt-50">Booking Appointment<i class="far fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services Area End -->

    <div class="price__two section-padding">
        <div class="container">
			<div class="row mb-65">
				<div class="col-xl-12">
					<div class="price__two-title">
						<div class="blog__area-title">
							<span class="subtitle__two">Offer</span>
							<span class="subtitle__one">Our Offer</span>
							<h2>Our Offer & Price</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 lg-mb-30" >
					<div class="price__two-item">
						<div class="price__two-item-content">
							<h4>Basic Plan</h4>
							{% comment %} <p>50% Discount</p> {% endcomment %}
							<h2>Rs.1000<span></span></h2>
						</div>						
						<div class="price__two-item-btn mb-30">
							<a href="{% url 'appointment' %}" class="theme-border-btn">Choose your plan</a>
						</div>						
						<div class="price__two-item-list">
							<ul>
								<li><i class="far fa-check"></i>Trending Haircut</li>
								<li><i class="far fa-check"></i>Lather Shave</li>
								<li><i class="far fa-check"></i>Hair Coloring</li>
								<li><i class="far fa-check"></i>Hair washing</li>
							</ul>
						</div>						
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 md-mb-30" >
					<div class="price__two-item">
						<div class="price__two-item-content">
							<h4>Popular Plan</h4>
							{% comment %} <p>40% Discount</p> {% endcomment %}
							<h2>Rs.2000<span></span></h2>
						</div>						
						<div class="price__two-item-btn mb-30">
							<a href="{% url 'appointment' %}" class="theme-border-btn">Choose your plan</a>
						</div>						
						<div class="price__two-item-list">
							<ul>
								<li><i class="far fa-check"></i>Trending Haircut</li>
								<li><i class="far fa-check"></i>Lather Shave</li>
								<li><i class="far fa-check"></i>Hair Coloring</li>
								<li><i class="far fa-check"></i>Hair washing</li>
							</ul>
						</div>						
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6" >
					<div class="price__two-item">
						<div class="price__two-item-content">
							<h4>Advance Plan</h4>
							{% comment %} <p>11% Discount</p> {% endcomment %}
							<h2>Rs.3000<span></span></h2>
						</div>						
						<div class="price__two-item-btn mb-30">
							<a href="{% url 'appointment' %}" class="theme-border-btn">Choose your plan</a>
						</div>						
						<div class="price__two-item-list">
							<ul>
								<li><i class="far fa-check"></i>Trending Haircut</li>
								<li><i class="far fa-check"></i>Lather Shave</li>
								<li><i class="far fa-check"></i>Hair Coloring</li>
								<li><i class="far fa-check"></i>Hair washing</li>
							</ul>
						</div>						
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- Price Two End -->

	<!-- Working Area Start -->
	<div class="working__two section-padding">
		<div class="working__two-shape">
			<img src="/static/img/shape/hours.png" alt="">
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-7 col-lg-7 lg-mb-30">
					<div class="working__two-left">
						<div class="working__two-left-title">
							<span class="subtitle__two">Working</span>
							<span class="subtitle__one">Working Hours</span>
							<h2>Working Hours</h2>
							<p>We are committed to providing exceptional service at your convenience. Our team of professionals is available to cater to your grooming needs throughout the week.</p>
						</div>
						<div class="working__two-left-hours">
							<ul>
								<li>Monday<span>10:00 AM - 07:00 PM</span></li>
                                <li>Tuesday<span>10:00 AM - 07:00 PM</span></li>
                                <li>Wednesday <span>10:00 AM - 07:00 PM</span></li>
								<li>Thursday<span>10:00 AM - 07:00 PM</span></li>
                                <li>Friday<span>10:00 AM - 07:00 PM</span></li>
                                <li>Saturday <span>10:00 AM - 07:00 PM</span></li>
								<li>Sunday<span>10:00 AM - 07:00 PM</span></li>
                            </ul>
						</div>
						<a href="{% url 'appointment' %}" class="theme-banner-btn">Booking Appointment<i class="far fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Working Area End -->
    

	<!-- Team Area Start -->		    
    <div class="team__area section-padding">
        <div class="container">
            <div class="row align-items-end mb-65">
                <div class="col-xl-7">
                    <div class="team__area-title">
                        <span class="subtitle__two">Team</span>
                        <span class="subtitle__one">Expert Team</span>
                        <h2>We've lots of Experience Members barbers</h2>                        
                    </div>
                </div>
				<div class="col-xl-5">
					<div class="team__area-button">
						<div class="team__area-button-prev swiper-button-prev"><i class="far fa-angle-double-left"></i></div>
						<div class="team__area-button-next swiper-button-next"><i class="far fa-angle-double-right"></i></div>
					</div>						
				</div>
            </div>
            <div class="row">
				<div class="col-xl-12">
					<div class="swiper team__slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="team__area-item">
									<div class="team__area-item-image">
										<img src="/static/img/team-1.webp" alt="">
									</div>
									<div class="team__area-item-content">
										<h5>David Fincher</h5>
										<span>Barber</span>
										<div class="team__area-item-content-social">
											<ul>
												<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#"><i class="fab fa-behance"></i></a></li>
												<li><a href="#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="team__area-item">
									<div class="team__area-item-image">
										<img src="/static/img/team-2.webp" alt="">
									</div>
									<div class="team__area-item-content">
										<h5>Tim Miller</h5>
										<span>Barber</span>
										<div class="team__area-item-content-social">
											<ul>
												<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#"><i class="fab fa-behance"></i></a></li>
												<li><a href="#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="team__area-item">
									<div class="team__area-item-image">
										<img src="/static/img/team-3.webp" alt="">
									</div>
									<div class="team__area-item-content">
										<h5>Rooney Mara</h5>
										<span>Barber</span>
										<div class="team__area-item-content-social">
											<ul>
												<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#"><i class="fab fa-behance"></i></a></li>
												<li><a href="#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="team__area-item">
									<div class="team__area-item-image">
										<img src="/static/img/team-4.webp" alt="">
									</div>
									<div class="team__area-item-content">
										<h5>Kevin Spacey</h5>
										<span>Barber</span>
										<div class="team__area-item-content-social">
											<ul>
												<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#"><i class="fab fa-behance"></i></a></li>
												<li><a href="#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>            
        </div>
    </div>
	<!-- Team Area End -->		
	
		{% include "footer.html" %}
	   
	<!-- Scroll Btn Start -->
	<div class="scroll-up">
		<svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" /> </svg>
	</div>
	<!-- Scroll Btn End -->
	<!-- Main JS -->
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Counter up -->
	<script src="/static/js/jquery.counterup.min.js"></script>
	<!-- Popper JS -->
	<script src="/static/js/popper.min.js"></script>
	<!-- Magnific JS -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<!-- Swiper JS -->
	<script src="/static/js/swiper-bundle.min.js"></script>
	<!-- Waypoints JS -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Mean menu -->
	<script src="/static/js/jquery.meanmenu.min.js"></script>
	<!-- Custom JS -->
	<script src="/static/js/custom.js"></script>
</body>

</html>