<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
	<!-- Preloader start -->
	<div class="theme-loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- Preloader end -->
	<!-- Header Area Start -->
	{% include "header.html" %}
	<!-- Header Area End -->	
    <!-- Page Banner Start -->
    <div class="page__banner" data-background="/static/img/bg/page.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__banner-title">
                        <h1>Gallery</h1>
                        {% comment %} <div class="page__banner-title-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><span>_</span>Gallery</li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner End -->		    
	<!-- Team Area Start -->		    
    <div class="team__area section-padding pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-25">
                    <div class="team__area-item">
                        <div class="team__area-item-image">
                            <img src="/static/img/team-1.jpg" alt="">
                        </div>
                        <div class="team__area-item-content">
                            <h5>David Fincher</h5>
                            <span>Barber</span>
                            <div class="team__area-item-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-4 col-md-6 md-mb-25">  
                    <div class="team__area-item">
                        <div class="team__area-item-image">
                            <img src="/static/img/team-2.jpg" alt="">
                        </div>
                        <div class="team__area-item-content">
                            <h5>Tim Miller</h5>
                            <span>Barber</span>
                            <div class="team__area-item-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                  
                </div>
                <div class="col-lg-4 col-md-6 md-mb-25">   
                    <div class="team__area-item">
                        <div class="team__area-item-image">
                            <img src="/static/img/team-3.jpg" alt="">
                        </div>
                        <div class="team__area-item-content">
                            <h5>Rooney Mara</h5>
                            <span>Barber</span>
                            <div class="team__area-item-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                 
                </div>
                <div class="col-lg-4 col-md-6 md-mb-25"> 
                    <div class="team__area-item">
                        <div class="team__area-item-image">
                            <img src="/static/img/team-4.jpg" alt="">
                        </div>
                        <div class="team__area-item-content">
                            <h5>Kevin Spacey</h5>
                            <span>Senior Barber</span>
                            <div class="team__area-item-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="col-lg-4 col-md-6 md-mb-25"> 
                    <div class="team__area-item">
                        <div class="team__area-item-image">
                            <img src="/static/img/team-5.jpg" alt="">
                        </div>
                        <div class="team__area-item-content">
                            <h5>Aaron Sorkin</h5>
                            <span>Barber</span>
                            <div class="team__area-item-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="col-lg-4 col-md-6"> 
                    <div class="team__area-item">
                        <div class="team__area-item-image">
                            <img src="/static/img/team-6.jpg" alt="">
                        </div>
                        <div class="team__area-item-content">
                            <h5>Ridley Scott</h5>
                            <span>Barber</span>
                            <div class="team__area-item-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                   
                </div>
			</div>            
        </div>
    </div>
	<!-- Team Area End -->	
	
		{% include "footer.html" %}
		  
	<!-- Scroll Btn Start -->
	<div class="scroll-up">
		<svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" /> </svg>
	</div>
	<!-- Scroll Btn End -->
	<!-- Main JS -->
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Counter up -->
	<script src="/static/js/jquery.counterup.min.js"></script>
	<!-- Popper JS -->
	<script src="/static/js/popper.min.js"></script>
	<!-- Magnific JS -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<!-- Swiper JS -->
	<script src="/static/js/swiper-bundle.min.js"></script>
	<!-- Waypoints JS -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Mean menu -->
	<script src="/static/js/jquery.meanmenu.min.js"></script>
	<!-- Custom JS -->
	<script src="/static/js/custom.js"></script>
</body>

</html>