<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
	<!-- Preloader start -->
	<div class="theme-loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- Preloader end -->
	<!-- Header Area Start -->
	{% include "header.html" %}
	<!-- Header Area End -->	
    <!-- Page Banner Start -->
    <div class="page__banner" data-background="/static/img/bg/page.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__banner-title">
                        <h1>Services Details</h1>
                        {% comment %} <div class="page__banner-title-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><span>_</span>Services Details</li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner End -->	
    <!-- Services Details Start -->	
	<div class="services__details section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 lg-mb-30">
					<div class="all__sidebar">
                        <div class="all__sidebar-item">
                            <h5>Popular Services</h5>
                            <div class="all__sidebar-item-category">
                                <ul>                                    
                                    <li><a href="{% url 'servicesdetails' %}"><i class="far fa-angle-double-right"></i>Trending Haircut<span>(08)</span></a></li>
                                    <li><a href="{% url 'servicesdetails' %}"><i class="far fa-angle-double-right"></i>Hair Washing<span>(06)</span></a></li>
                                    <li><a href="{% url 'servicesdetails' %}"><i class="far fa-angle-double-right"></i>Lather shave<span>(05)</span></a></li>
                                    <li><a href="{% url 'servicesdetails' %}"><i class="far fa-angle-double-right"></i>Facial Hair trip<span>(09)</span></a></li>
                                    <li><a href="{% url 'servicesdetails' %}"><i class="far fa-angle-double-right"></i>Head Massage<span>(03)</span></a></li>
                                    <li><a href="{% url 'servicesdetails' %}"><i class="far fa-angle-double-right"></i>Hair Coloring<span>(02)</span></a></li>
                                </ul>
                            </div>
                        </div>
					</div>
					<div class="all__sidebar-item-help mt-30" data-background="/static/img/service-detail.webp">
						<h5>Need Any Help?</h5>
						<div class="all__sidebar-item-help-contact">
							<div class="all__sidebar-item-help-contact-icon">
								<i class="fal fa-phone-alt"></i>
							</div>
							<div class="all__sidebar-item-help-contact-content">
								<span>Quick Help</span>
								<h6><a href="tel:+125(895)658568">+125 (895) 658 568</a></h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-8">
					<div class="services__details-left">
						<div class="services__details-left-image mb-30">
							<img src="/static/img/services-details.webp" alt="">
						</div>
						<div class="services__details-left-content">
							<h2 class="mb-30">Head massage</h2>
							<p class="mb-20">Maecenas tincidunt hendrerit odio sed consectetur. Duis porta purus sapien, eget pretium augue consectetur ut. Nunc nibh augue, pretium quis imperdiet pellentesque, molestie eget nisi. Sed rutrum sit amet eros ac egestas. Maecenas tincidunt dolor in massa iaculis, vitae dignissim sem finibus. Pellentesque elementum vel arcu sit amet rhoncus.</p>
							<p class="mb-20">Nulla at eleifend lorem. Praesent et ex sed metus egestas feugiat. Donec velit libero, feugiat ac dictum vel, dignissim id ante. Praesent hendrerit posuere condimentum.</p>
							<p>Vestibulum eget tellus rhoncus, dictum massa a, mattis massa. Cras in leo semper, ultricies ligula nec, ornare tellus. Suspendisse quam risus, semper et ultricies a, commodo eu tortor. Phasellus elementum tincidunt varius. Nam facilisis, ante eget gravida vestibulum, ante nisi feugiat nulla, in dapibus neque turpis et dolor. Vestibulum in urna urna.</p>	
							<div class="row mt-40 mb-40">
								<div class="col-sm-6 sm-mb-30">
									<img src="/static/img/features/services-1.webp" alt="">
								</div>
								<div class="col-sm-6">
									<img src="/static/img/features/services-4.webp" alt="">
								</div>
							</div>
							<h3 class="mb-15">Benefit of our service</h3>
							<p class="m-0">Businesses A Guide To Attracting Clients To Your Agency, Amazon, Walmart or General Motors. The heart of USA, however, remains the small business. Small businesses in your city may include accounting firms, restaurants, local shops, and more. Conduct market research. Market research will tell you if there's an opportunity to turn your idea into a successful business</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Services Details End -->	
	
		{% include "footer.html" %}
	   
	<!-- Scroll Btn Start -->
	<div class="scroll-up">
		<svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" /> </svg>
	</div>
	<!-- Scroll Btn End -->
	<!-- Main JS -->
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Counter up -->
	<script src="/static/js/jquery.counterup.min.js"></script>
	<!-- Popper JS -->
	<script src="/static/js/popper.min.js"></script>
	<!-- Magnific JS -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<!-- Swiper JS -->
	<script src="/static/js/swiper-bundle.min.js"></script>
	<!-- Waypoints JS -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Mean menu -->
	<script src="/static/js/jquery.meanmenu.min.js"></script>
	<!-- Custom JS -->
	<script src="/static/js/custom.js"></script>
</body>

</html>